.board {
    display: flex;
    justify-content: center;
    > *:not(:first-of-type) {
        margin-left: 24px;
        @media (max-width: 1023px) {
            margin-left: 0;
        }
    }

    @media (max-width: 1023px) {
        flex-wrap: wrap;
    }
}
