// @import "/src/variables";

.column {
    width: 282px;
    // min-height: 210px;

    .header {
        border-radius: 10px;
        height: 48px;
        color: #5e6c84;
        text-transform: uppercase;
        padding-left: 12px;
        display: flex;
        align-items: center;
        user-select: none;
        background: #ebecf0;
        font-size: 18px;
        line-height: 21px;
    }

    .wrapper {
        background: #ebecf0;
        border-radius: 10px;

        @media (max-width: 1023px) {
            margin-bottom: 50px;
        }

        .body {
            padding: 0 6px 0 6px;
        }

        .footer {
            padding: 17px 6px;
        }
    }

    .input__block {
        width: 100%;
        border: none;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        border-radius: 5px;
        padding: 6px;
    }

    .button__add {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #5e6c84;
        background: transparent;
        border: none;
        padding: 4px 6px;
        cursor: pointer;
        transition: 0.25s;
        border-radius: 5px;
        &:hover {
            background-color: #e2e2e2;
            scale: 1.04;
        }
        &:active {
            scale: 0.9;
            background-color: #d4d4d4;
        }
    }

    .button_save_card {
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
        background: #0079bf;
        border: none;
        padding: 4px 6px;
        cursor: pointer;
        transition: 0.18s;
        border-radius: 4px;
        &:hover {
            background-color: #0088d6;
            scale: 1.04;
        }
        &:active {
            scale: 0.9;
            background-color: #1573aa;
        }
    }
}

.appbuttonsvg {
    margin-right: 20px;
}
